//
//  Config.xcconfig
//  Runner
//
//  Created by 이용혁 on 9/23/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NAVER_CLIENT_ID=btbP91Sl_TvSEUmS9EHO
NAVER_CLIENT_SECRET=SWp1GDyQkK
NAVER_SERVICE_URL_SCHEME=test
NAVER_APP_NAME=brewbuds
